# Data Setup

In [22]:
import numpy as np
import pandas as pd
import os

## Create Star Data
Parse through the directory with all the head shots and create a dataframe of all the stars and their show

In [16]:
# Create the dictionary
star_data = []

In [17]:
# Get list of all stars
files = os.listdir("../Assets/Headshots")
for f in files:
    # get the show
    show = f[0:f.index("_")]
    
    # Get the star
    star = f[f.index("_") + 1:f.index(".")]
    
    # Get the status (for now made up)
    status = "In the hunt"
    
    # Add to data
    star_data.append({"show":show, "star":star, "status":status, "file":f})

In [18]:
# Make the data frame
star_df = pd.DataFrame(star_data)

In [19]:
star_df.head()

  show     star       status            file
0  sur      rob  In the hunt     sur_rob.jpg
1  sur     adam  In the hunt    sur_adam.jpg
2   tc    kevin  In the hunt    tc_kevin.jpg
3   tc  melissa  In the hunt  tc_melissa.jpg
4  sur    danni  In the hunt   sur_danni.jpg

In [20]:
# Write to js
s = "var starData = " + star_df.to_json(orient='records') + ';'
out_file = open("starData.js", "w+")
out_file.write(s)
out_file.close()

## Teams and Draft Picks

In [26]:
draft = pd.read_excel("draft_results1-17-20.xlsx")
draft.head()

      Name            Show PickedBy  Eliminated
0   Shiann        Bachelor   Alex C         NaN
1   Delvin  Project Runway   Alex C         NaN
2  Natalie        Survivor   Alex C         NaN
3      Rob        Survivor   Alex C         NaN
4  Gregory        Top Chef   Alex C         NaN

In [27]:
# Add a column for score
draft["Score"] = 0

In [29]:
s = "var userData = " + draft.to_json(orient='records') + ';'
out_file = open("userData.js", "w+")
out_file.write(s)
out_file.close()